Source: vigilo-setup
Section: vigilo
Priority: extra
Maintainer: Vigilo Team <contact@projet-vigilo.org>
Build-Depends: debhelper (>= 7.0.50~)
Standards-Version: 3.8.4
Homepage: http://www.projet-vigilo.org/

Package: vigilo-setup
Architecture: all
Depends: ${misc:Depends}
Description: Configure Vigilo-based monitoring.
 The vigilo-setup package provides the vigilo-setup command
 which prepares the system to monitoring using the Vigilo suite.

Package: vigilo
Architecture: all
Depends:
 sudo,
 rabbitmq-server (>= 2.7.1),
 memcached,
 supervisor (>= 3.0a8),
 postgresql-9.1,
 postgresql-client-9.1,
 postgresql-contrib-9.1,
 snmpd,
 python-numpy,
 nagios-nrpe-plugin,
 python-initgroups (>= 2.13.0),
 python-txamqp (>= 0.6.1-0~ppa1),
 vigilo-collector,
 vigilo-common,
 vigilo-connector,
 vigilo-connector-metro,
 vigilo-connector-nagios,
 vigilo-correlator,
 vigilo-models,
 vigilo-nagios-config,
 vigilo-nrpe-config,
 vigilo-perfdata2vigilo,
 vigilo-setup,
 vigilo-themes-default,
 vigilo-turbogears,
 vigilo-vigiboard,
 vigilo-vigiconf,
 vigilo-vigiconf-local,
 vigilo-vigigraph,
 vigilo-vigirrd,
 libnagios-cmd-perl,
 libmath-rpn-perl
Description: Meta-package for Vigilo.
 This package is meant to ease installation of Vigilo
 and all of its dependencies on a single machine.
