#!/usr/bin/make -f
# -*- makefile -*-

# Uncomment this to turn on verbose mode.
export DH_VERBOSE=1
export DH_OPTIONS=-v

PKGNAME=$(shell printf "%s" `dpkg-parsechangelog | grep '^Source:' | cut -d: -f2-`)

ifeq "$(NOPY)" ""
    helper=python2
else
    helper=python2_nopy
endif

%:
	dh $@ --with $(helper)

override_dh_auto_clean:
	dh_auto_clean -- buildclean
ifneq "$(NOPY)" ""
	rm -f $(CURDIR)/debian/docs $(CURDIR)/debian/copyright
endif

override_dh_auto_install:
	dh_auto_install DESTDIR=debian/$(PKGNAME)
	install -m 755 pkg/compat.debian.sh debian/tmp/usr/lib/vigilo/setup/compat.sh

.PHONY: override_dh_auto_clean \
		override_dh_auto_install
