#!/usr/bin/make -f
# -*- makefile -*-

# Uncomment this to turn on verbose mode.
export DH_VERBOSE=1
export DH_OPTIONS=-v

PKGNAME=$(shell printf "%s" `dpkg-parsechangelog | grep '^Source:' | cut -d: -f2-`)
VERSION=$(shell printf "%s" `dpkg-parsechangelog | grep '^Version:' | cut -d: -f2-`)

%:
	dh $@ --with python2

override_dh_auto_clean:
	dh_auto_clean -- buildclean

override_dh_auto_install:
	dh_auto_install DESTDIR=debian/$(PKGNAME)

override_dh_auto_test:

.PHONY: override_dh_auto_clean \
		override_dh_auto_install \
		override_dh_auto_test
